.container {
    margin-top: 30px;
}

.add-transferencia {
    margin-bottom: 30px;
}

.list-transferencia {
    margin-bottom: 50px;
}

.btn-add-transferencia {
    margin-right: 10px;
}

.center {
    text-align: center;
}